h1{
    text-align: center;
}
#table-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#table tr, th, td{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid;
    margin: 0;
    
}
#table{
    width: 70%;
    margin-top: 15px;;
}
.button{
    text-decoration: none;
    padding: 13px 16px;
    border: 1px solid;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.button:hover{
    background-color:black;
    color:white;
}
#pagination-wrapper{
    margin-top: 10px;
}